<div class="container-fluid fill">
  <div class=row>
    <div class="col-md-3">
      <app-search (searchResults)="handleSearchResult($event)"></app-search>
      <app-places-list [places]="places" [selected]="selectedPlace"></app-places-list>
    </div>
    <div class="col-md-9" class="fill">
      <div>
        <!--<sebm-google-map>-->
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="16">
               <sebm-google-map-marker #m *ngFor="let place of places; let i = index" [latitude]="place.location.lat" [longitude]="place.location.lng" [title]="place.name" [label]="getLabel(i)" (markerClick)="clickMarker(place, m)">  
               </sebm-google-map-marker>
        </sebm-google-map>
    </div>
    </div>
  </div>
</div>