<div class="container-fluid fill">
  <div class=row>
    <div class="col-md-3">
      <h4>Find a location</h4>
      <form class="form">
        <div class="form-group">
          <label class="sr-only" for="search">Search a city</label>
          <div class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search a city">
            <span class="input-group-btn">
              <a (click)="searchCity()" class="btn btn-primary">
                <span class="sr-only" for="search">Search a city</span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </span>
            <span class="input-group-btn"> 
              <a (click)="searchCurrentLocation()" class="btn btn-primary">
                <span class="sr-only" for="search">Search current location</span>
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
              </a>
            </span>
          </div>
        </div>
      </form>

      <app-places-list [places]="places"></app-places-list>
    </div>
    <div class="col-md-9" class="fill">
      <div>
        <sebm-google-map [latitude]="lat" [longitude]="lng">
        </sebm-google-map>
    </div>

    </div>
  </div>
</div>