<ul class="list-group">
  <li *ngFor="let place of places; let i=index" class="list-group-item" [class.active]="place == selected">

    <!-- Icon based on place type -->
    <div class="row">
      <div class="col-md-2">
        <span class="label label-pill label-primary">{{getLabel(i)}}</span>&nbsp;
        <span [ngSwitch]="place.type">
          <i *ngSwitchWhen="'bar'" class="fa fa-glass" aria-hidden="true"></i>
          <i *ngSwitchWhen="'restaurant'" class="fa fa-cutlery" aria-hidden="true"></i>
          <i *ngSwitchWhen="'cafe'" class="fa fa-coffee" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-md-10">
       {{place.name}}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
      </div>
      <div *ngIf="place == selected" class="col-md-10">
        <br>
        <app-place-details [place]="place"></app-place-details>
      </div>
    </div>
  </li>
</ul>